.nav {
	font-family: "Sono", sans-serif;
	background-color: var(--lightBackground);
	height: auto;
	padding: 0.1rem 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: calc(0.8rem + 0.5vw);
	flex-wrap: wrap;
}
/*justify center if mobile*/
@media only screen and (max-width: 500px) {
	.nav {
		justify-content: center;
		flex-direction: column-reverse;
		padding-bottom: 0.8rem;
		padding-top: 0;
	}
}
.navLinks {
	flex-wrap: nowrap;
	flex-shrink: 1;
}

.navLogo {
	height: 2rem;
	width: auto;
}

.navLinks a {
	padding: 0 0.5rem;
}
