.nav {
	font-family: "Sono", sans-serif;
	background-color: var(--lightBackground);
	height: 7vh;
	max-height: 3rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: calc(0.8rem + 0.5vw);
	flex-wrap: wrap;
}
/*justify center if mobile*/
@media only screen and (max-width: 500px) {
	.nav {
		justify-content: center;
	}
}
.navLinks {
	flex-wrap: nowrap;
	flex-shrink: 1;
}

.navLogo {
	height: 2rem;
	width: auto;
}

.navLinks a {
	padding: 0.5rem;
}
