.showcase {
	height: 17rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	margin: 0;
	padding: 0;
}
.projects {
	color: var(--text);
	background-color: var(--background);
	text-align: center;
	padding-top: 0.5rem;
}

.showcaseItem {
	filter: grayscale(100%);
	transition: all 0.5s ease;
	flex-shrink: 5;
	width: 100%;
	height: auto;
	background-color: var(--lightBackground);
	color: #ffffff;
	font-size: 1rem;
	/* border-radius: 4px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.showcaseItemText {
	transition: all 0.5s ease 0.15s;
	padding: 0.5rem;
	visibility: hidden;
	opacity: 0;
}

.showcaseItem a {
	color: white;
}
.showcaseItem a:hover {
	color: var(--secondary);
}
.showcaseItem:hover .showcaseItemText {
	visibility: visible;
	opacity: 1;
}
.showcaseItem:hover {
	filter: grayscale(0%);
	width: 200%;
	background-color: var(--primary);
}

@media screen and (max-width: 600px) {
	.showcase {
		height: auto;
		flex-direction: column;
		align-items: center;
	}
	.showcaseItem {
		margin: 1rem 0;
		width: 65%;
	}
	.showcaseItem:hover {
		width: 90%;
		height: 200%;
	}
}
